<h1>Get at me Bruh!</h1>
<form>
    <input type="radio" name="gender" value="male" checked> Lord<br>
    <input type="radio" name="gender" value="female"> Lady<br>
    Name:<br>
    <input type="text" name="name"><br>
    Email Address:<br>
    <input type="text" name="email"><br>
    comment:<br>
    <input type="text" name="comment" size="50"><br>
    <input type="submit" value="Submit">
</form>