<h1>Look at all these beautiful things</h1>
<ul>
<h3>projects</h3>
<ul>
    <li>Punk Rawk 21</li>
        <ul>
            <li>Punk themed blackjack game</li>
            <li><a href="https://github.com/JamesBlocker/punk-rawk-21-wdi-w3">linked here!</a></li>
        </ul>
    <li>Break Out</li>
        <ul>
            <li>Classic brick breaking game</li>
            <li><a href="https://github.com/JamesBlocker/breakout_game">linked here!</a></li>
        </ul>
    <li>Pong</li>
    <ul>
        <li>Tennis at it's finest</li>
        <li><a href="https://github.com/JamesBlocker/pong_game">linked here!</a></li>    
    </ul>
</ul>

